<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Geoff Nightingale</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: #333;
            background-color: #f5f5f5;
        }
        .container {
            max-width: 800px;
            margin-top: 20px;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        h1 {
            font-size: 28px;
            border-bottom: 2px solid #eee;
            padding-bottom: 5px;
            color: #333;
        }
        h2 {
            font-size: 24px;
            color: #0056b3; /* Blue color for section headings */
            border-bottom: 2px solid #eee;
            margin-top: 20px;
            /* font-weight: bold; */
        }
        p, li {
            font-size: 16px;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
        .bottomborder {
            border-bottom: 1px solid #eee;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Geoff Nightingale: Data Scientist | ML Engineer </h1>
    <div style="margin-top: 5px; margin-bottom: 20px;">
        <a href="https://github.com/yourusername" target="_blank" style="text-decoration: none; color: #333; margin-right: 15px;">
            <i class="fab fa-github" style="margin-right: 5px;"></i>GitHub
        </a>
        <a href="https://linkedin.com/in/yourusername" target="_blank" style="text-decoration: none; color: #007bff; margin-right: 15px;">
            <i class="fab fa-linkedin" style="margin-right: 5px;"></i>LinkedIn
        </a>
        <a href="mailto:youremail@example.com" style="text-decoration: none; color: #333;">
            <i class="fas fa-envelope" style="margin-right: 5px;"></i>Email
        </a>
    </div>

    <p>Highly qualified and experienced Machine Learning practitioner with over 12 years experience applying Machine Learning across 
        multiple industries including Banking, Insurance and Energy. Broad skillset covering ML Engineering, Data Science and Data 
        Engineering disciplines. Commercial experience in implementing MLOps solutions. Advanced skills in Python and SQL, software 
        engineering practices and commercial experience using Azure and AWS cloud technologies. Team player, fast learner and strong 
        communicator.</p>
    
    <h2>Skills</h2>
    <ul>
        <li><strong>Programming Languages: </strong> Python, SQL, C#</li>
        <li><strong>DS / ML Libraries: </strong> Numpy, Pandas, ScitkitLearn, PyTorch, Tensorflow, Keras, plotly, matplotlib</li>
        <li><strong>Big data and databases: </strong>PySpark, Snowflake, Databricks, Oracle, Snowflake</li>
        <li><strong>DevOps and MLOps: </strong>Git, Github Actions, Gitlab, Docker, Airflow, MLFlow, Flask, FastAPI</li>
        <li><strong>Cloud Platforms: </strong>AWS, Azure</li>
    </ul>

    <h2>Experience</h2>
    <p><strong>Senior Consultant</strong> - Contino, London | Apr 2022 - Present</p>    
    Technical delivery of Data Science and Data Engineering projects across client engagements. <br>
    <i>Energy Company:</i>
    <ul>
        <li>Built time-series ML models in Python using recurrent neural networks to forecast reservoir water
            levels over a 24-hour period to manage flood risk and power generation. Models accurate to within an
            average of +/-0.5 ft over the forecast window.</li>
        <li>Collected and cleansed data, and merged with third party climate data sources.</li>
        <li> Presented findings to senior business stakeholders.</li>
    </ul>
    <i>Insurance Company:</i>
    <ul>
        <li>Designed ML feature stores using Snowflake and Feast for Data Science model development,
        inference and monitoring.</li>
        <li>Developed Python tools to automate code generation from JSON config files, saving hundreds of
        hours writing code manually.</li>
        <li>Translated business processes from SAS to Oracle SQL. Optimised queries to reduce monthly runtimes
        by over 1,000 hours per month.</li>
        <li>Mentored team members on Git and SQL best practices.</li>
        <li>Prepared and presented educational sessions on ML topics such as MLOps and Large Language Models to
        the wider organization.</li>
    </ul>
    <p class="bottomborder"></p>
    
    <p><strong>Data Science Manager</strong> - Vanquis Bank, London | Dec 2017 - Apr 2022</p>
    Hands-on manager responsible for leading Machine Learning projects across the bank.
    <ul>
        <li>Redeveloped SAS scorecard development tools using Python and MLOps frameworks reducing scorecard
            development time from days to < 5 minutes.</li>
        <li>Built machine learning models across the business including:
        <ul>
            <li>Application Fraud model using gradient boosting. Results from A/B testing indicate reduced fraud
            losses of £278k per year.
            <li>Collections contact model to predict the best time to call customers, increasing right party contact
            rates by 25%.
            <li>Application of NLP methods to categorise CRM notes from customer interactions, providing valuable
            insight to Operations.
        </ul>
        <li>Introduced SWE best practices (Git, unit/integration testing, CI/CD etc.). </li>
        <li>Redesigned ML model monitoring reports using modern BI tools to automate report updates in sync with
        changes to source data. </li>
        <li>Lead and mentored a team of 3 Data Scientists. </li>
        <li>Prepared and presented workshops to introduce ML concepts and the use of Git across the organisation. </li>
    </ul>
    <p class="bottomborder"></p>

    <p><strong>Senior Consultant</strong> - Euristix, London | Sep 2016 - Dec 2017</p>
    Responsible for leading model development and data science projects.
    <ul>
        <li>Developed IFRS9 model using Markov decision process to forecast expected credit losses.</li>
        <li>Developed debt pricing models using decision trees and regression models to provide pricing estimates to debt collection agencies.</li>
        <li>Lead and mentored a team of 3 analysts, managed objectives and career progression.</li>
    </ul>
    <p class="bottomborder"></p>

    <p><strong>Senior Data Scientist</strong> - ANZ, Auckland | Sep 2016 - Dec 2017</p>
    Optimisation of new business and existing customer credit risk strategies using quantitative methods.
    <ul>
        <li>Developed a new credit limit assignment strategy using decision trees and k-means clustering. This work was expected to generate a $1M p.a.
            profit uplift and one-off capital savings of $3.5M.</li>
        <li>Analysed and improved policy rule set for credit cards increasing approval rates from 73% to 80%.</li>
        <li>Developed profitability model for credit cards utilizing transaction level data. Model was used to design score cut offs and limit assignment
            strategies to achieve target RoE of 25%.</li>
    </ul>
    <p class="bottomborder"></p>

    <p><strong>Credit Risk Analyst/Graduate Analyst</strong> - GE Capital, Auckland | Apr 2010 – Jun 2013</p>
    Responsible for the optimisation of credit risk collections strategy for credit cards and personal loans.
    <ul>
       <li>Used linear regression to predict total payments to be recovered on charged-off debt in the following 12 months. This model was used to rank
and prioritise collection accounts. A/B testing results showed a recoveries uplift of 22% over 6 months when using this model vs control.</li>
        <li>Responsible for producing monthly Credit Scorecard monitoring reports for Credit Cards.</li>
        <li></li>Conducted A/B testing of various contact channel combinations in order to formulate improved contact strategies.</li>
    </ul>
    
    <h2>Education & Certifications</h2>
    <p><strong>MSc Artificial Intelligence</strong> - University of Bath | 2020-2023</p>
    <p><strong>BSc Economics & Finance</strong> - University of Waikato | 2005-2009</p>
    <p><strong>Deployment of ML Models</strong> - Udemy | 2021</p>
    <p><strong>Deep Learning Specialization</strong> - Coursera | 2019</p>
    <p><strong>Machine Learning</strong> - Coursera | 2015</p>

    <h2>Projects</h2>
    <p><strong>Portfolio Optimisation</strong></p>
    <ul>
        <li>Webapp to calculate optimal portfolios for a set of stocks.</li>
        <li>Python, Flask, Docker, EC2, SQLlite</li>
        <li><a href="http://www.geoffai.com/portfolio-optimisation">LINK HERE</a></li>
    </ul>
    <p><strong>Air Quality Prediction</strong></p>
    <ul>
        <li>Webapp for predictiong of air quality in London.</li>
        <li>Python, Flask, Docker, EC2, SQLlite</li>
    </ul>
    <p><strong>Book Recommendation System</strong></p>
    <ul>
        <li>Webapp for recommending books to a user based on books they like.</li>
        <li>Python, Flask, Docker, EC2, SQLlite</li>
    </ul>

</div>
</body>
</html>
